@{
    ViewData["Title"] = "Vehicle Owners";
}

 <div class="row justify-content-center">

     <div class="col-md-12">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h5 class="mb-0 text-gray-800">Insurance Payments</h5>
        </div>

        <div class="card shadow mb-4">
            <div class="list-group list-group-flush">
                 <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Amount Paid
                            </th>
                            <th>
                                Date of Payment
                            </th>
                            <th>
                               Reference Number
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Kingstone Pecolas
                            </td>
                            <td>
                                USD 500
                            </td>
                            
                            <td>
                                12/10/2020
                            </td>
                            <td>
                                REF121020201300
                            </td>
                        
                            <td>
                                <a href="#" class="btn btn-secondary btn-sm">Details</a> 
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Kingstone Pecolas
                            </td>
                            <td>
                                USD 500
                            </td>
                            
                            <td>
                                12/10/2020
                            </td>
                            <td>
                                REF121020201300
                            </td>
                        
                            <td>
                                <a href="#" class="btn btn-secondary btn-sm">Details</a> 
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Kingstone Pecolas
                            </td>
                            <td>
                                USD 500
                            </td>
                            
                            <td>
                                12/10/2020
                            </td>
                            <td>
                                REF121020201300
                            </td>
                        
                            <td>
                                <a href="#" class="btn btn-secondary btn-sm">Details</a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
     </div>
     
 </div>

